.header-top {
  background: #004aad;
}
a.button.border,
a.button {
  background: #004aad;
}
#main-menu ul li a:hover {
  background: #004aad;
}
#main-menu .dropdown-menu a:hover {
  background: #004aad;
}
.bloq-search input[type="text"] {
  border: 1px solid #004aad;
}
.bloq-search input[type="submit"] {
  background: #004aad;
}
.google-maps .filter {
  background: #004aad;
}
.section-title:before {
  background-color: #004aad;
}
.parallax-searchs .form-group .nice-select i,
.parallax-searchs .form-group .nice-select:hover {
  color: #004aad;
}
.nice-select .option:hover,
.parallax-searchs .form-group .btn {
  background: #004aad !important;
}
.listing-hidden-content.blue {
  background: #004aad;
}
.section-title h2 {
  color: #004aad;
}
.recently .homes-content .homes-list li {
  color: #004aad;
}
.recently .homes-content .homes-list li i {
  color: #004aad;
}
.btn.btn-outline-light,
.first-footer .newsletters h3::after {
  background: #004aad;
}
.welcome-title h2 span,
.welcome-title h2 span {
  color: #004aad;
}
.welcome .popup-youtube,
.first-footer .contactus ul li .fa {
  color: #004aad;
}
.welcome .wprt-image-video .iq-waves .waves {
  background: rgb(250, 41, 100) none repeat scroll 0 0 padding-box;
}
.services-home .bg-base,
.first-footer .bloq-email .email input[type="submit"] {
  background: #004aad;
}
#navigation.style-1 .current {
  color: #004aad;
}
#navigation.style-1 ul li:hover {
  background: #004aad;
}
.feature-cities-1 .listing-badges .featured {
  background: #004aad;
}
.services-home a.text-base,
.twitter-widget.contuct .twitter-area .text h5 a {
  color: #004aad;
}
.portfolio .homes-content .homes-list li {
  color: #004aad;
}
.portfolio .homes-content .homes-list li i {
  color: #696969;
  font-size: 18px;
}
.portfolio .footer i {
  color: #696969;
  font-size: 16px;
}
.top-location .owl-theme .owl-nav [class*="owl-"] {
  background: #004aad;
}
.blog-section .news-item a:hover h3 {
  color: #004aad;
}
.blog-section .news-link {
  color: #004aad;
}
.testimonials .test-1 p::before {
  color: #004aad;
}
.testimonials .test-1 h3 {
  color: #004aad;
}
.owl-dot.active {
  background: #004aad !important;
}
.counterup .countr .fa {
  color: #004aad;
}
.realhome_subscribe input {
  border-color: #004aad;
}
.realhome_form_subscribe button {
  background: #004aad;
  border: 2px solid #004aad;
}
.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after {
  background-color: #004aad;
}
.first-footer .btn {
  background: #004aad;
}
.first-footer .btn:hover {
  background: transparent;
}
.navigation ul li a:hover {
  color: #004aad;
}
.twitter-widget.contuct .twitter-area .icon-holder i {
  color: #004aad;
}
.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4 {
  color: #004aad;
}
.second-footer {
  background: #303441;
}
.go-up {
  background: #004aad;
}
@media only screen and (max-width: 991px) {
  .homepage-6 .bg-all {
    margin-top: 30px !important;
  }
}
.main-search-field {
  background: #004aad;
}
.btn-default.btn-theme-colored2:hover {
  background: #004aad;
}
.text-theme-colored2 {
  color: #004aad !important;
}
.btn-dark.btn-theme-colored {
  background-color: #004aad;
}
.parallax-search .form-group .nice-select:hover {
  color: #004aad;
}
.parallax-search .form-group .nice-select i {
  color: #004aad;
}
.parallax-search .form-group .list li:hover {
  background: #004aad;
}
.parallax-search .form-group .btn {
  background: #004aad;
}
.inner-pages .blog .active-view-btn:hover {
  background: #004aad !important;
}
.inner-pages .change-view-btn:hover {
  color: #004aad !important;
}
.inner-pages .blog .block-heading .change-view-btn.lde:hover {
  background: #004aad;
}
.inner-pages .blog .section-heading .media .media-left i {
  background: #004aad;
}
.inner-pages .blog .main-search-field select {
  background: #004aad;
}
.inner-pages .blog .at-input {
  border: 2px solid #004aad;
}
.inner-pages .blog .ui-widget.ui-widget-content {
  background: #004aad;
}
.inner-pages .blog .hvr-bounce-to-right {
  background: #004aad;
}
.inner-pages .widget h5::after {
  background-color: #004aad;
}
.inner-pages .portfolio .footer i {
  color: #004aad;
}
.inner-pages .recent-post .tags a:hover {
  color: #004aad;
  border-color: #004aad;
}
.page-item.active .page-link {
  background: #004aad;
  border-color: #004aad;
}
.page-link {
  color: #004aad;
}
.inner-pages .blog .homes-content.details-2 .fa {
  color: #004aad;
}
.inner-pages .blog .sorting-options h5 {
  color: #004aad;
}
.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after {
  color: #004aad;
  background-color: #004aad;
}
.inner-pages .blog .homes-content.details .fa {
  color: #004aad;
}
.inner-pages .button.alt {
  background-color: #004aad;
}
.inner-pages .agent-details a:hover {
  color: #004aad;
}
.inner-pages .agent-details .fa {
  color: #004aad;
}
.inner-pages .about-us .who-1 h2 span {
  color: #004aad;
}
.inner-pages .about-us .wprt-image-video .icon-wrap {
  background-color: #004aad;
}
.bg-2 .button {
  border-color: #004aad;
}
.inner-pages .panel .panel-heading a {
  background: #004aad;
}
.plan-price {
  background: #004aad;
}
.plan-price:after {
  border-top-color: #004aad;
}
.plan a.btn {
  background: #004aad;
}
.inner-pages .top-headings h2 {
  color: #004aad;
}
.inner-pages .port-info .btn {
  background: #004aad;
  border: 1px solid #004aad;
}
#login .btn_1,
a.btn_1 {
  background: #004aad;
}
.inner-pages .blog .social .date {
  background-color: #004aad;
}
.blog-pots figure {
  background: #004aad;
}
.blog .blog-pots .fa {
  color: #004aad;
}
.btn-secondary {
  background: #004aad;
}
.single-blog-post .img-box .overlay {
  background: rgba(250, 41, 100, 0.8);
}
.inner-pages .form-control {
  border: 1px solid #004aad;
}
.inner-pages .input-group-btn .btn-primary {
  background: #004aad;
  border: 1px solid #004aad;
}
.inner-pages .input-group-btn .btn-primary:hover {
  color: #004aad;
}
.inner-pages .comments-info h5 {
  color: #004aad;
}
.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
  background-color: #004aad;
}
.inner-pages .leve-comments .btn {
  background: #004aad;
  border: 1px solid #004aad;
}
.inner-pages .leve-comments .btn:hover {
  border: 1px solid #004aad;
}
.inner-pages .contact-us .btn {
  background: #004aad;
  border: 1px solid #004aad;
}
.inner-pages .contact-us .btn:hover {
  border: 1px solid #004aad;
}
.inner-pages .call-info h3::after {
  background-color: #004aad;
}
.inner-pages .call-info ul li .fa {
  color: #004aad;
}
.inner-pages .single-add-property > h3 {
  color: #004aad;
}
.inner-pages .prperty-submit-button > button {
  background: #004aad none repeat scroll 0 0;
}
.leaflet-div-icon,
.map-marker {
  background-color: #004aad;
  border: 5px solid #004aad;
}
.leaflet-div-icon:before,
.map-marker:before {
  border-top-color: #004aad;
}
.listing-window-image:before {
  background-color: #004aad;
}
.listing-window-content h3 {
  background-color: #004aad;
}
.blog-section .action-list .fa-comment {
  color: #004aad;
}
.blog-section .action-list .fa-share-alt {
  color: #004aad;
}
.blog-section .action-list .fa-heart {
  color: #004aad;
}
section.pricing-table {
  padding: 6rem 0;
  background: #fff;
}
